* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0;
 }

.bg_navbar{
    background-color: #1F4073;
}

.font_logo{
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    display: inline;
    
}

.card_imovel{
    background-color: #1F4073;

    width: 20rem;
    margin-top: 50px;
    border-radius: 26px;
}

.img_capa_imovel{

    width: 20rem;
    height: 15rem;
    border-top-left-radius: 26px;
    border-top-right-radius: 26px;

}

.informacoes_imoveis{

    padding: 20px;
    color: white;

}


.valor{

    font-weight: bold;
    border-bottom: 1px solid white;
}

.btn_filtrar{

    border: none;
    background-color: transparent;
    border: 2px solid #1F4073;
    color: #1F4073;
    padding: 5px 10px 5px 10px;
    font-weight: bold;

}


.titulo_filtrar{

    color:#1F4073;
    font-weight: bold;
    font-size: 30px;

}

.btn_filtrar_modal{

    border: none;
    color: white;
    background-color: #1F4073;
    font-weight: bold;
    font-size: 20px;

}

.a_none{
    color: white;
}

.a_none:hover{
    text-decoration: none;
    color: white;
}

.titulo_especificacao{
    color: #1F4073;
    font-weight: bold;
    margin-top: 20px;
    font-size: 40px;
}

.especificacao{
    font-size: 30px;
    font-weight: bold;
}

.especificacao_endereco{
    font-size: 25px;
}

.btn_agendar_visita{
    border: none;
    background-color: #1F4073;
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 5px 10px 5px 10px;
}

.div_possivel_interesse{
    text-align: left;
}

.btn_agendar{
    border: none;
    background-color: #1F4073;
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 5px 10px 5px 10px;
}

.btn_agendar:hover{
    text-decoration: none;
    color: white;
}

.lista-detalhes{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.lista-detalhes li{
    margin-right: 10px;   
}

.logo-sobre{
    height: 160px;
    width: 321px;
    margin-left: 30px;
}

.paragrafo{
    font-family: 'Roboto', sans-serif;
    margin-left: 30px;
    margin-top: 30px;
    font-weight: 400;
    font-size: 20px;   
}

/* .masthead{
    background-image: url('/static/img/Fundo.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
} */

#fundo-imagem{
    position: relative;
    background-image: url("/static/img/Aracruz_SEDE_large.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    height: 70vh;
    padding: 0;
    border: none;
    margin: 0;
}

#formMensagem{
    margin-top: 30px;
    margin-bottom: 15px;
    background-color: #faf9f5;
    border-radius: 20px;
    padding: 20px;
}

#sobreTitulo{
    color: #2e2e2e;
}


#card-sobre{
    background-color: rgb(190, 190, 190);
    border-radius: 20px;
    padding: 40px;
    margin-top: 10px;
}





