* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0
}

.col-md-5{
    color: white;
}

.col-md-5 ul li a {
    color: white;
    text-decoration: underline;
    
}

#VoltarAoTopo{
    color: white;
    text-decoration: underline;
}


@media (max-width: 397px){
    #pesquisa{
        width: 100%;
    }
}