{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
<link rel="stylesheet" href="{% static 'plataforma/css/home.css' %}">
{% endblock  %}
{% block 'title' %}imovel {{imovel.id}}{% endblock %}
{% block 'body' %}

    <div style="text-align: center" class="container">
        <br>
        <br>
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                {% for img in imovel.imagens.all  %}
                    <div class="carousel-item {% if forloop.first %} active {% endif %}" >
                        <img class="d-block w-100" src="{{img}}" alt="First slide">
                    </div>
                {% endfor %}
                
            </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>


        <div class="row">
            <div class="col-md">
                <h3 class="titulo_especificacao">Valor</h3>
                <p class="especificacao">R$ {{imovel.valor}}</p>

            </div>

            <div class="col-md">
                <h3 class="titulo_especificacao">Quartos</h3>
                <p class="especificacao">{{imovel.quartos}} Quartos</p>
            </div>

            <div class="col-md">
                <h3 class="titulo_especificacao">Garagem</h3>
                <p class="especificacao">{{imovel.garagens}}</p>
            </div>

            <div class="col-md">
                <h3 class="titulo_especificacao">Banheiros</h3>
                <p class="especificacao">{{imovel.banheiros}}</p>
            </div>

            <div class="col-md">
                <h3 class="titulo_especificacao">Tamanho</h3>
                <p class="especificacao">{{imovel.tamanho}}m²</p>
            </div>

            

        </div>
        <br>
        <br>
        <div style="text-align: left">
            <h3 class="titulo_especificacao">Endereço</h3>
            <p class="especificacao_endereco">{{imovel.rua}}, {{imovel.bairro}}, {{imovel.cidade }}</p>
        </div>

        <div style="text-align: left">
            <h4 class="titulo_especificacao" id="codigoImovel">Código do Imóvel: {{imovel.id}}</h4>
        </div>

        <br>
        <div style="text-align: left">
            <h3 class="titulo_especificacao">Descriçao</h3>
            <p class="especificacao_endereco">{{imovel.descricao}}</p>
            <br>
            <br>
        </div>

        <hr style="border: 1px solid black">
        <br>
        <div class="div_possivel_interesse">
            <h3 class="titulo_especificacao">Talvez você se interesse por</h3>
            
            <div class="row">
                {% for sugestao in sugestoes %}
                    <a href="{% url 'imovel' sugestao.id %}" class="a_none">
                        <div class="col-md-4">
                            <div class="card_imovel">
                                <img class="img_capa_imovel" src="{{sugestao.imagens.all.0.img.url}}">
                                <div class="informacoes_imoveis">
                                <a class="a_none" href="{% url 'imovel' sugestao.id %}"><h4 class="valor">R$ {{sugestao.valor}}</h4></a>
                                {% if sugestao.tipo == 'V' %}
                                <p>Venda</p>
                                {% endif %}
                                {% if sugestao.tipo == 'A' %}
                                <p>Aluguel</p>
                                {% endif %}
                                {% if sugestao.tipo == 'L' %}
                                <p>Lote</p>
                                {% endif %}
                                {{imovel.rua}}, {{imovel.bairro}}
                                <p>{{imovel.cidade}}</p>
                                <ul class="lista-detalhes" style="list-style: none;">
                                  <li>
                                    <img src="{% static '/img/cama.png'%}" alt="dormitórios" width="25px"> {{sugestao.quartos}}
                                  </li>
                                  <li>
                                    <img src="{% static '/img/banheira.png' %}" alt="banheiros" width="20px">{{sugestao.banheiros}}
                                  </li>
                                  <li>
                                    <img src="{% static '/img/garagem-privada.png' %}" alt="garagens " width="20px"> {{sugestao.garagens}}
                                  </li>
                                  <li>
                                    <img src="{% static '/img/area.png' %}" alt="metros quadrados" width="22px"> {{sugestao.tamanho}} m²
                                  </li>
                                </ul>
                                </div>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
            
            
            
        </div>
        

        
        

    </div>
    

{% endblock  %}