{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
<link rel="stylesheet" href="{% static 'plataforma/css/home.css' %}">
{% endblock  %}

{% block 'title' %}Sobre{% endblock %}

{% block 'body' %}
<div class="container-fluid mt-5">
    <div class="row d-flex justify-content-around">
        <div class="col-md-3" id="card-sobre">
        <p class="text-center"><img src="{% static '/img/localizacao.png' %}" alt="icone localizacao" width="50px"></p>
        <h5 class="text-center">Estamos localizados </h5>
        <p class="text-center">Rua Falta por o nome, 114</p>
        <p class="text-center">Bairro Falta o nome,Aracruz/ES</p>
        <p class="text-center">CEP 29190-230</p>
        </div>
        <div class="col-md-3" id="card-sobre">
        <p class="text-center"><img src="{% static '/img/missao.png' %}" alt="" width="50px"></p>
        <h5 class="text-center">Nossa missão</h5>
        <p class="text-center">Temos um intuito de oferecer a nossos clientes ótimas residências</p>
        </div>
        <div class="col-md-3" id="card-sobre">
        <p class="text-center"><img src="{% static '/img/telefone.png' %}" alt="" width="50px"></p>
        <h5 class="text-center">Telefones</h5>
        <p class="text-center">(27) 98888-8888</p>
        <p class="text-center">(27) 98886-5632</p>
        <p class="text-center ml-3"><img src="{% static '/img/wppPretoEBranco.png' %}" alt="logo whatsapp preto e branco" width="20px">(27) 988569888</p>
        </div>
    </div>
</div>




{% endblock %}