{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static '/css/base.css' %}">
  {% block 'head' %}{% endblock %}
 

  
  <title>{% block 'title' %}{% endblock %}</title>

</head>
<body>
  
  <nav class="navbar navbar-expand-lg navbar-dark " style="background-color:#1F4073 ;">
    <div class="container-md " id="container-items-navbar">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link " aria-current="page" href="{% url 'home' %}">Página inicial</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'sobre' %}"> Sobre Nós </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link " href="{% url 'financiamento' %}">Financiamento</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'faleconosco' %}">Fale Conosco</a>
          </li>
        </ul>
      </div>
      <form class="d-flex flex-nowrap" method="get" action="{% url 'busca'%}">
        <input name="id" class="form-control me-2" type="number" placeholder="Pesquisa por código" aria-label="Search">
        <button class="btn btn-outline-light" type="submit">Search</button>
      </form>
    </div>
  </nav>

  {% block 'body' %}{% endblock %}

      <!-- JavaScript -->
      <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" ></script>

      <footer class="container-fluid mt-5" style="background-color:#1F4073 ;" >
        <div class="row pt-5 pb-5">

          <section class="col-md-5">
            <h5 >Contato</h5>
                  <ul class="nav flex-column">
                    <li class=nav-item>
                     <a href="tel:+5527111111111" class="nav-link"> Tel: (27) 9 9999-9999</a>
                    </li>
                    <li class="nav-item">
                      <a href="https://api.whatsapp.com/send?phone=55&text=" class="nav-link" target="blank">Whatsapp (27) 9 9999-9999</a>
                    </li>
                    <li class="nav-item">
                      <a href="#" class="nav-link">Email: xxxxxxxxxxxx@gmail.com</a>
                    </li>
                  </ul>
          </section>

          <section class="col-md-5">
            <h5>Informações</h5>
            <ul class="nav flex-column">
              <li class="nav-item">
                <a href="#" class="nav-link">Baby</a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">Baby2</a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">Baby3</a>
              </li>
            </ul>
          </section>
          
          <section >
            <ul class="nav flex-column"> 
              <li class="nav-item">
                <a href="#" class="nav-link" id="VoltarAoTopo">Voltar ao topo </a>
              </li>
            </ul> 
            
          </section>
        </div>
      </footer>

      <script src="{% static '/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>